/* ПЕРЕМЕННЫЕ */
@use '../css/variables' as *;

/**
 * ОБЩИЕ НАСТРОЙКИ ДЛЯ ВСЕХ БЛОКОВ
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Восстанавливаем для списков
ul,
ol {
    padding-left: 20px; // Или что-то своё
}

html {
    min-height: 100vh;
}

body {
    font-family: 'Lato', sans-serif; // Fallback гарантирует видимость текста
    font-weight: 400;
    font-size: 14px;
    min-height: 100vh; // Чтобы страница всегда занимала минимум высоту viewport
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Метод прижать Футер к низу страницы */
.main {
    flex: 1;
}

/* АДАПТИВ БЛОКОВ ДЛЯ РАЗНЫХ ДЕВАЙСОВ */
.container {
    /* desktop */
    width: 1140px; // ширина для Десктопа по макету
    margin: 0 auto;
    // outline: 1px solid red;

    /* tablet */
    // +40px для перестроения адаптива = 1180px
    @media (max-width: $tablet_breakpoint) {
        width: 736px; // ширина для Планшета по макету
    }

    /* phone */
    // +32px для перестроения адаптива = 768px
    @media (max-width: $phone_breakpoint) {
        width: 360px; // ширина для Телефона по макету
    }
}

/* Скрытая область */
.hidden {
    width: 1px;
    height: 1px;
    position: absolute;
    left: -99999px;
    margin: -1px;
}