/* VARIABLES (переменные) - параметры, записанные в переменную */

$corporate_color: rgba(255, 0, 0, 0.5);
$box_shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
$tablet_breakpoint: 1180px;
$phone_breakpoint: 768px;