@charset "UTF-8";

/* ПЕРЕМЕННЫЕ */
@use 'variables' as *;

/* МИКСИНЫ */
@use 'mixins' as *;

/* ОБЩИЕ НАСТРОЙКИ ДЛЯ ВСЕХ БЛОКОВ */
@use 'generalSettings';

/**
 * БЛОКИ SCSS
 */

/* HEADER и МЕНЮ сайта */
@use 'blocks/header';

/* MAIN */
/* ПРОМО-БЛОК главной страницы */
@use 'blocks/mainDescription';
/* ГЛАВНАЯ страница */
@use 'blocks/main';

/* НИЖНЯЯ ЧАСТЬ СТРАНИЦ САЙТА */
/* FOOTER сайта */
@use 'blocks/footer';

/* Offer - Договор публичной оферты */
@use 'blocks/offer';

/* Cтраница со Статьёй - " PageArticle" */
@use 'blocks/pageArticle';