/* ПЕРЕМЕННЫЕ */
@use '../variables' as *;

/* МИКСИНЫ */
@use '../mixins' as *;

/**
 * FOOTER сайта
 */

.footer {
  height: 240px;
  margin-top: 30px;
  width: 100%;
  background-color: black;
  opacity: 0.8;

  @media (max-width: $tablet_breakpoint) {
    height: 240px;
    margin-top: 30px;
  }

  @media (max-width: $phone_breakpoint) {
    height: 180px;
    margin-top: 25px;
  }

}

/* Присоединиться к чат-боту */
.join-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.join-name {
  margin: 10px 0 30px;
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  color: #fff;

  @media (max-width: $tablet_breakpoint) {
    margin: 10px 0 30px;
    font-weight: 600;
    font-size: 30px;
    line-height: 50px;
  }

  @media (max-width: $phone_breakpoint) {
    margin: 10px 0 10px;
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
  }
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  padding: 24px 0 23px 5px;
  margin-top: 45px;
  border-top: 1px solid #ffffff52;

  @media (max-width: $tablet_breakpoint) {
    padding: 24px 16px 23px 16px;
  }

  @media (max-width: $phone_breakpoint) {
    flex-direction: column-reverse;
    align-items: center;
    padding: 10px 0 10px;
    margin-top: 20px;
  }
}

.p-footer {
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;

  @media (max-width: $phone_breakpoint) {
    margin-bottom: 20px;
  }
}

/* Элементы способов связи */
.social-network-ico {
  display: flex;
  list-style-type: none;
  gap: 7px;
  padding-left: 0px;
}

.social-link {
  font-size: 20px;
  background-color: white;
  color: #000000;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition-duration: 1s;

  &:hover {
    background-color: $corporate_color;
    color: white;
    transform: rotate(360deg);
  }
}