/* ПЕРЕМЕННЫЕ */
@use '../variables' as *;

/* МИКСИНЫ */
@use '../mixins' as *;

/**
 * HEADER и МЕНЮ сайта
 */

.header {
  position: fixed;
  width: 100%;
  background-color: black;
  opacity: 0.8;
}

.header-col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  list-style: none;
  padding: 18px 1px;

  @media (max-width: $tablet_breakpoint) {
    padding: 15px 0px;
  }

  @media (max-width: $phone_breakpoint) {
    padding: 10px 0px;
  }
}

/* Лого Бренда */
.brand-ico {
  height: 55px;
  transition-property: transform;
  transition-duration: 1s;

  &:hover {
    transform: scale(1.3);
  }

  @media (max-width: $tablet_breakpoint) {
    height: 45px;
  }

  @media (max-width: $phone_breakpoint) {
    height: 35px; // Компактно
    align-self: flex-start; // В колонке — по левому краю
  }
}

/* Название Бренда */
.namebrand-link {
  text-decoration: none;
}

.namebrand-heading {
  padding-left: 180px;
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  transition-property: transform;
  transition-duration: 1s;

  &:hover {
    transform: scale(1.3);
  }

  @media (max-width: $tablet_breakpoint) {
    padding-left: 170px; // Уменьшаем
    font-weight: 600;
    font-size: 35px;
  }

  @media (max-width: $phone_breakpoint) {
    display: none; // Скрываем название на мобильных, чтобы сэкономить место
  }

}

/* Кнопка Присоединяйся к нам */
.btn-link {
  @include default-button(); // Миксин
  box-sizing: border-box; // Корректный учёт размеров

  @media (max-width: $tablet_breakpoint) {
    padding: 12px 30px !important;
    font-size: 14px !important;
  }

  @media (max-width: $phone_breakpoint) {
    padding: 8px 20px !important; // Компактно
    font-size: 12px !important;
    // line-height: 16px !important;
    // width: 100%; // Полная ширина для тапа
    // text-align: center; // Центрируем текст
  }
}