/* ПЕРЕМЕННЫЕ */
@use '../variables' as *;

/* МИКСИНЫ */
@use '../mixins' as *;

/**
 * HEADER и МЕНЮ сайта
 */

.header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 97px;
  background-color: grey;
  opacity: 0.7;
}

.header-nav {
  padding: 18px 0;

  @media (max-width: $tablet_breakpoint) {
    padding: 18px 0px;
  }

  @media (max-width: $phone_breakpoint) {
    padding: 18px 8px;
  }
}

.header-col {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
  list-style: none;
}

/* Лого Бренда */
.brand-ico {
  height: 55px;
  transition-property: transform;
  transition-duration: 1s;

  &:hover {
    transform: scale(1.3);
  }
}

/* Название Бренда */
.namebrand-btn {
  display: flex;
  align-items: center;
  padding-left: 165px;
}

.namebrand-link {
  text-decoration: none;
}

.namebrand-heading {
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  transition-property: transform;
  transition-duration: 1s;

  &:hover {
    transform: scale(1.3);
  }
}

/* Кнопка Присоединяйся к нам */
.btn-link {
  @include default-button();
}