/* ПЕРЕМЕННЫЕ */
@use '../variables' as *;

/* МИКСИНЫ */
@use '../mixins' as *;

/**
 * ГЛАВНАЯ СТРАНИЦА САЙТА - "MainPage"
 */

.page-wrapper::before {
    content: '';
    /* Фиксирует фон относительно viewport */
    position: fixed;
    top: 0;
    left: 0;
    /* Полная ширина видимой области */
    width: 100vw;
    /* Полная высота видимой области */
    height: 100vh;
    /* Путь к картинке background,
        Центрирует изображение + сдвиг на ...%,
        Масштабирует изображение,
        чтобы покрыть экран Без повторений */
    background: url('../images/background.png') center calc(0%) / cover no-repeat;
    /* Полупрозрачность, (0.0 - полностью прозрачно, 1.0 - непрозрачно) */
    opacity: 0.9;
    /* Размещает за контентом */
    z-index: -1;

    @media (max-width: $tablet_breakpoint) {
        /* Градиентный цвет background */
        background: url('../images/background.png') center calc(12%) / contain no-repeat,
            linear-gradient(to bottom, #000000, rgb(38 7 7));
    }

    @media (max-width: $phone_breakpoint) {
        /* Градиентный цвет background */
        background: url('../images/background.png') center calc(32%) / contain no-repeat,
            linear-gradient(to bottom, #000000, rgb(38 7 7));
    }
}

/* Раздел СТАТЬИ */
.articles {
    margin-top: 100px;

    @media (max-width: $phone_breakpoint) {
        margin-top: 480px;
    }
}

/* ИЗБРАННЫЕ статьи - Карусель */

.recommended-articles-name {
    font-weight: 600;
    font-size: 40px;
    line-height: 36px;
    color: #fff;
    text-align: center;

    @media (max-width: $tablet_breakpoint) {
        font-size: 30px;
        line-height: 29px;
    }

    @media (max-width: $phone_breakpoint) {
        font-size: 20px;
        line-height: 24px;
    }
}

.recommended-articles-about {
    font-size: 16px;
    line-height: 35px;
    color: #fff;
    text-align: center;

    @media (max-width: $tablet_breakpoint) {
        font-size: 16px;
        line-height: 34px;
    }

    @media (max-width: $phone_breakpoint) {
        font-size: 14px;
        line-height: 17px;
    }
}

/* Стили для сетки 3x2 на десктопе, адаптивной на мобильных */
.articles-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;

    @media (max-width: $tablet_breakpoint) {
        /* 1 столбец на мобильных */
        grid-template-columns: 1fr;
        /* Ряды автоматические */
        grid-template-rows: auto;
        gap: 10px;
    }

    @media (max-width: $phone_breakpoint) {
        /* 1 столбец на мобильных */
        grid-template-columns: 1fr;
        /* Ряды автоматические */
        grid-template-rows: auto;
        gap: 10px;
    }

}

/* Swiper карусель */
.swiper-container {
    width: 100%;
    /* Ограничь ширину для мобильных */
    max-width: 600px;
    margin: 0 auto;
}

/* Фиксированная высота слайдов для карусели (мобильный вид) */
.my-swiper .swiper-slide {
    /* Фиксированную высоту, Подгони под дизайн */
    height: 124px;
}

.my-swiper {
    width: 98%;
    height: auto;
}

/* Стили для карточек в слайдах Swiper */
.swiper-slide-card {
    display: block;
    background-color: rgba(255, 255, 255, 0.151);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    text-align: center;
    text-decoration: none;
    /* Фиксированную высоту, Подгони под дизайн */
    height: 100px;
    /* Обрезает контент, если он выходит за пределы высоты */
    overflow: hidden;
    /* Добавили box-shadow в transition для плавности */
    transition: transform 1s, box-shadow 1s;
    padding: 10px;

    &:hover {
        /* Рамка через box-shadow */
        box-shadow: 0 0 0 1px $corporate_color, 0 2px 4px rgba(0, 0, 0, 0.1);
    }
}

/* Подстройка навигации Swiper (стрелки) */
.my-swiper .swiper-button-next,
.my-swiper .swiper-button-prev {
    /* Белый цвет для контраста */
    color: #ffffff00;
}

/* Отступ пагинации от слайдов (снизу) */
.my-swiper .swiper-pagination {
    /* Сдвигаем пагинацию выше (ближе к слайдам). !important для переопределения Bootstrap */
    bottom: -5px !important;
}

/* Подстройка пагинации Swiper (точки) */
/* Красный цвет для неактивных точек */
.my-swiper .swiper-pagination-bullet {
    background-color: #f00d0d;
}

.my-swiper .swiper-pagination-bullet-active {
    background-color: #fff;
}

/* Статьи */
.article-card {
    background-color: rgba(255, 255, 255, 0.151);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    text-align: center;
    text-decoration: none;
    transition-property: transform;
    transition-duration: 1s;
    padding: 16px;

    &:hover {
        transform: scale(1.05);
        outline: 1px solid $corporate_color;
    }
}

.loading {
    text-align: center;
    padding: 20px;
    color: #fff;
}

/* ВСЕ статьи - Список */
.all-articles-name {
    margin-top: 100px;
    font-weight: 600;
    font-size: 40px;
    line-height: 36px;
    color: #fff;
    text-align: center;

    @media (max-width: $tablet_breakpoint) {
        font-size: 30px;
        line-height: 29px;
    }

    @media (max-width: $phone_breakpoint) {
        font-size: 20px;
        line-height: 24px;
    }
}

/* Элементы Списка статей */
.el-articles-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 23px;
    padding: 0;
    gap: 20px;

    @media (max-width: $tablet_breakpoint) {
        gap: 10px;
    }

    @media (max-width: $phone_breakpoint) {
        gap: 10px;
    }
}

.el-articles {
    width: 700px;
    background-color: rgba(255, 255, 255, 0.151);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    list-style: none;
    text-align: center;
    transition-property: transform;
    transition-duration: 1s;

    &:hover {
        transform: scale(1.1);
        outline: 1px solid $corporate_color;
    }

    @media (max-width: $phone_breakpoint) {
        width: 385px;
    }

}

.el-articles-link {
    /* Делаем контейнер Grid */
    display: grid;
    /* Две колонки: первая авто-ширина для номера, вторая занимает оставшееся пространство */
    grid-template-columns: auto 1fr;
    /* Две строки: для заголовка и описания */
    grid-template-rows: auto auto;

    /* Дополнительно: если это кнопка, добавь стили для интерактива */
    text-decoration: none;
    padding: 10px;
}

.el-articles-number {
    /* Левая колонка */
    grid-column: 1;
    /* Занимает обе строки */
    grid-row: 1 / 3;
    /* Стили: например, шрифт и цвет */
    font-size: 1rem;
    font-weight: bold;
    color: rgb(208, 233, 197);
}

.el-articles-name {
    /* Правая колонка */
    grid-column: 2;
    /* Верхняя строка */
    grid-row: 1;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 0;
    transition-property: transform;
    transition-duration: 1s;

    &:hover {
        color: $corporate_color;
    }

    @media (max-width: $phone_breakpoint) {
        font-size: 16px;
        line-height: 22px
    }

}

.el-articles-about {
    /* Правая колонка */
    grid-column: 2;
    /* Нижняя строка */
    grid-row: 2;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 0;
    margin-top: 8px;

    @media (max-width: $phone_breakpoint) {
        font-size: 14px;
        line-height: 20px;
    }
}

.shows-all {
    outline: none;

    @media (max-width: $phone_breakpoint) {
        margin-top: 35px;
    }
}