/* ПЕРЕМЕННЫЕ */
@use '../variables' as *;

/* МИКСИНЫ */
@use '../mixins' as *;

/**
 * ОПИСАНИЕ главной страницы
 */
.main-description-wrap {
  margin-top: 95px;
  border-bottom: 1px solid #ffffff52;

  @media (max-width: $tablet_breakpoint) {
    margin-top: 90px;
  }

  @media (max-width: $phone_breakpoint) {
    margin-top: 225px;
    border-bottom: none;
  }

}

.main-description-name {
  display: none; // Скрываем название на мобильных, чтобы сэкономить место

  @media (max-width: $phone_breakpoint) {
    display: block;
    font-size: 43px;
    line-height: 36px;
    color: #fff;
    text-align: center;
  }
}

.main-description-about {
  font-size: 23px;
  line-height: 28px;
  color: #fff;
  text-align: center;
  margin-bottom: 90px;

  @media (max-width: $tablet_breakpoint) {
    font-size: 21px;
    line-height: 24px;
  }

  @media (max-width: $phone_breakpoint) {
    margin-top: 60px;
    font-size: 16px;
    line-height: 18px;
  }
}