/* ПЕРЕМЕННЫЕ */
@use '../variables' as *;

/* МИКСИНЫ */
@use '../mixins' as *;

/**
 * Offer - Договор публичной оферты
 */

.offer-intro {
  margin-bottom: 2rem;
  text-align: center;
}

.offer-section {
  margin-bottom: 2rem;
}

.offer-intro h2 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
  color: #fff;
  text-align: center;

  @media (max-width: $tablet_breakpoint) {
    font-size: 26px;
  }

  @media (max-width: $phone_breakpoint) {
    font-size: 20px;
    line-height: 5px;
  }
}

.offer-section h3 {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 1rem;
}

.offer-section h4 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.offer-list {
  list-style-type: disc;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.offer-list li {
  margin-bottom: 0.5rem;
}

a {
  color: #007bff;
  text-decoration: underline;
}

a:hover {
  color: #0056b3;
}

/* Стили для кликабельного текста (чтобы выглядело как ссылка) */
.clickable-link {
  /* Синий цвет, как у ссылок */
  color: #007bff;
  /* Курсор-указатель */
  cursor: pointer;
  text-decoration: underline;

  /* Темнее при наведении */
  &:hover {
    color: #0056b3;
  }
}